<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /* vertical-align: baseline; */
    background: transparent;
}
/* body { 
  background-image: url('/assets/Assets/LandingPageGraphic.svg');
  background-repeat: no-repeat;
  background-position: 115% 40%;
  background-size: 60%;
} */
.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
	.input{
		background: white;
	}
  table {
    font-size: 12px;
  /* width: 100%; */
  /* border: 1px solid #000; */
  }
  th{
    /* text-align: center; */
    padding: 5px;
  width: 20px;
  }
  tr{
    padding: 2px;
  }
  tr:nth-child(even) {
    background-color: #EFEDFB;
  }
  tab10 { padding-left: 40em; }
 
  /* .tr{
    padding: 5px;
  } */
        </style>
    </head>
<body>
	<notifier-container></notifier-container>
  <img src="/assets/RPMLOGO/rpmlogoNARROWTHUMBNAIL.png" height="11.78%" width="5.96%" style="margin-left: 3.22%;">
  <!-- <button mat-button style="margin-left: 9.76%;font-size: 12px; color: #292E35; opacity: 100%;">Account</button> -->
  <!-- <button mat-button style="margin-left: 9.76%; margin-top: 2%; font-size: 12px; color: #292E35;opacity: 100%;">Projects</button> -->
  <!-- <button mat-button style="margin-left: 4.18%; margin-top: 2%; font-size: 12px; color: #292E35;opacity: 60%;">Users</button> -->
  <!-- <button mat-button (click)="administration()" style="margin-left: 4.18%; margin-top: 2%; font-size: 12px; color: #292E35;opacity: 60%;">Administration</button> -->
  <button mat-flat-button (click)=logout.logout() style="margin-left: 75%; margin-top: 2%; font-size: 12px; color: #292E35; border-color: #6957E1; color: #6957E1;">Log Out   <img style="width: 25%;height: 25%;" src="/assets/Assets/LogOut.svg"></button>
  <div style="display: flex; margin-top: 1.25%; margin-left: 15%; font-size: 30px; color: #292E35; font-family:'Times New Roman', Times, serif; font-weight: bolder;"><p><b>Project contents</b></p></div>
<div class="form-group" style="margin-left: 15%; margin-top: 1%;">
	<label class="inline-label" style="color: #6F6FFF; font-weight: bold;" for="project_id">{{companyName}}</label>
<!-- <input required ngModel [(ngModel)]="projectInfo.proj.project_id" type="project_id" class="form-control" name="project_id" placeholder="{{projectInfo.proj.project_id}}"> -->
</div>
<div class="form-group" style="margin-left: 25%; margin-top: 1%;">
	<label class="inline-label" style="color: #14ABDD; font-weight: bold;" for="company_id">{{projectName}}</label>
	<!-- <input required ngModel [(ngModel)]="projectInfo.proj.customer_id" type="customer_id" class="form-control" name="customer_id" placeholder="{{projectInfo.proj.customer_id}}"> -->
</div><br>
<mat-label class="inline-label" style="color: black; margin-left: 15%; margin-top: 2%;"></mat-label>
<div>
<div class="row" style="margin-left: 15%; margin-right: 5%; margin-top: 1%;position: inherit; display: flex; margin-top: 1.25%; font-size: 30px; color: #292E35; font-family:'Times New Roman', Times, serif; font-weight: bolder;">
    <div class="col-md-6" style="font-size: 12px;">
		<mat-form-field appearance="fill">
			<mat-select placeholder={{selectedHeirarchy}} [(ngModel)]="selectedHeirarchy" name="heirarchy">
			<mat-option *ngFor="let h of heirarchyList" (click)=refreshList() [value]="h.hierarchy_id">
				{{h.hierarchy_name}}
			</mat-option>
			<mat-option>
				<button mat-icon-button (click)=heirarchy(heirarchyModel) color="warn">
					<mat-icon>
						add_box
					</mat-icon>
					add heirarchy
				</button>
			</mat-option>
			</mat-select>
		</mat-form-field>
    </div>
    <div class="col-md-6">  
      <button mat-button mat-icon-button [matMenuTriggerFor]="menuAdd" style="float:right">
        <img style="width: 300%;float: right;" src="/assets/Assets/AddNew.svg">
      </button>
    </div>
  </div>
<!-- <button style="position: absolute; margin-left: 30%; margin-top: 0%;" mat-icon-button [matMenuTriggerFor]="menuAdd"><img style="width: 200%;height: 200%;" src="/assets/Assets/AddNew.svg"></button> -->
<mat-menu #menuAdd="matMenu">
	<button mat-menu-item (click)=addArtefact(root)>
		<span>Add Artefact</span>
	</button>
	<button mat-menu-item (click)=open(mymodal,root)>
		<span>Add Container</span>
	</button>
</mat-menu>
</div>
  <div style="overflow-y: auto; height: 300px; position: relative; margin-left: 15%; margin-right: 5%; font-size: 12px;">
	<p-treeTable [value]="files" [columns]="cols[0]">
	<ng-template pTemplate="header" let-columns>
		<tr>
			<ng-container *ngFor="let col of columns; let i = index">
				<th style="width: 200px;" *ngIf="i != 1">
					{{col.header}}
				</th>
				<th style="width: 100px;" *ngIf="i == 1">
					{{col.header}}
				</th>
			</ng-container>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowNode let-rowData="rowData">
		<tr>
			<td style="padding: 0;" icon="pi pi-search" *ngFor="let col of cols[1]; let i = index">
				<p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
				<button *ngIf="i == 1 && rowData[cols[1][2].field] == ''" mat-icon-button [matMenuTriggerFor]="mmenu" aria-label="Example icon-button with a menu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<button *ngIf="i == 1 && rowData[cols[1][2].field] != ''" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<button *ngIf="i == 1 && rowData[cols[1][2].field] == ''" mat-icon-button [matMenuTriggerFor]="menuAddTable" aria-label="Example icon-button with a menu">
					<mat-icon>add_box</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button [routerLink]=editDetail(rowData.id) mat-menu-item>
							<mat-icon>update</mat-icon>
							<span>Modify record</span>
						</button>
					<button [matMenuTriggerFor]="menu3" mat-menu-item>
						<mat-icon>file_copy</mat-icon>
						<span>copy</span>
					</button>
					<button [matMenuTriggerFor]="menu2" mat-menu-item>
						<mat-icon>move_to_inbox</mat-icon>
						<span>move</span>
					</button>
					<button (click)=delete(rowData) mat-menu-item>
						<mat-icon>remove</mat-icon>
						<span>delete record</span>
					</button>
				</mat-menu>
				<mat-menu #mmenu="matMenu">
					<button (click)=editContainer(mymodal,rowData.id) mat-menu-item>
							<mat-icon>update</mat-icon>
							<span>Modify record</span>
						</button>
					<button [matMenuTriggerFor]="menu3" mat-menu-item>
						<mat-icon>file_copy</mat-icon>
						<span>copy</span>
					</button>
					<button [matMenuTriggerFor]="menu2" mat-menu-item>
						<mat-icon>move_to_inbox</mat-icon>
						<span>move</span>
					</button>
					<button (click)=delete(rowData) mat-menu-item>
						<mat-icon>remove</mat-icon>
						<span>delete record</span>
					</button>
				</mat-menu>

				<mat-menu #menu2="matMenu">
					<ng-container *ngFor="let con of containerList; let c = index">
					<button mat-menu-item (click)=move(con,rowData)>
						<!-- <mat-icon>{{con}}</mat-icon> -->
						<span>{{con}}</span>
					</button>
					</ng-container>
				</mat-menu>

				<mat-menu #menu3="matMenu">
					<ng-container *ngFor="let con of containerList; let c = index">
					<button mat-menu-item (click)=copy(con,rowData)>
						<!-- <mat-icon>{{con}}</mat-icon> -->
						<span>{{con}}</span>
					</button>
					</ng-container>
				</mat-menu>

				<mat-menu #menuAddTable="matMenu">
					<button mat-menu-item (click)=addArtefact(rowData.id)>
						<span>Add Artefact</span>
					</button>
					<button mat-menu-item (click)=open(mymodal,rowData.id)>
						<span>Add Container</span>
					</button>
				</mat-menu>

				<a [routerLink]=editDetail(rowData.id) *ngIf="i == 0 && rowData[cols[1][2].field] != ''">{{rowData[col.field]}}</a>
				<span *ngIf="i == 0 && rowData[cols[1][2].field] == ''">{{rowData[col.field]}}</span>
				<span *ngIf="i != 0 && rowData[cols[1][2].field] != ''">{{rowData[col.field]}}</span>
				<!-- {{rowData[col.field]}} -->
			</td>
		</tr>            
	</ng-template>
</p-treeTable>
</div>
</body>
</html>

<ng-template #mymodal let-modal>
	<div class="modal-header">
	  <h4 class="modal-title" id="modal-basic-title">Add Container</h4>
	  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">×</span>
	  </button>
	</div>
	<div>
	  <label class="inline-label" for="address_line2">Container name</label>
	  <input required ngModel [(ngModel)]="newContainerName" type="newContainerName" name="newContainerName" placeholder="{{editContainerName}}">
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
	</div>
  </ng-template>
  <ng-template #heirarchyModel let-modal>
	  <div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add Heirarchy</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		  <span aria-hidden="true">×</span>
		</button>
	  </div>
	  <div>
		<label class="inline-label" for="address_line2">Heirarchy name</label>
		<input required ngModel [(ngModel)]="newHeirarchyName" type="newHeirarchyName" name="newHeirarchyName" placeholder="{{newHeirarchyName}}">
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
	  </div>
	</ng-template>