<p-treeTable [value]="files" [columns]="cols[0]">
    <ng-template pTemplate="header" let-columns>
         <tr>
             <th style="background-color:gainsboro" *ngFor="let col of columns">
                 {{col.header}}
             </th>
         </tr>
     </ng-template>
     <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
         <tr>
               <td style="background-color:beige;" icon="pi pi-search" *ngFor="let col of cols[1]; let i = index">
                   <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                   {{rowData[col.field]}}
               </td>
         </tr>            
     </ng-template>
   </p-treeTable>
