<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /* vertical-align: baseline; */
    background: transparent;
}
/* body { 
  background-image: url('/assets/Assets/LandingPageGraphic.svg');
  background-repeat: no-repeat;
  background-position: 115% 40%;
  background-size: 60%;
} */
.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        /* min-height: 38px; */
        /* border-radius: 2px; */
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
	.input{
		background: white;
	}
	.button:hover {box-shadow: 0 2px #999;}
        </style>
    </head>
<body>
	<notifier-container></notifier-container>
    <img src="/assets/RPMLOGO/rpmlogoNARROWTHUMBNAIL.png" height="11.78%" width="5.96%" style="margin-left: 3.22%;">
	<button mat-button style="margin-left: 9.76%;font-size: 12px; color: #292E35; opacity: 100%;">Account</button>
    <button mat-button style="margin-left: 4.18%; margin-top: 2%; font-size: 12px; color: #292E35;opacity: 60%;">Projects</button>
    <button mat-button style="margin-left: 4.18%; margin-top: 2%; font-size: 12px; color: #292E35;opacity: 60%;">Users</button>
	<!-- <button mat-button style="margin-left: 9.76%;font-size: 12px; color: #292E35; opacity: 100%;">Account</button>
    <button mat-button (click)="goToProjects()" style="margin-left: 4.18%; margin-top: 2%; font-size: 12px; color: #292E35;opacity: 60%;">Projects</button>
    <button mat-button (click)="goToUsers()" style="margin-left: 4.18%; margin-top: 2%; font-size: 12px; color: #292E35;opacity: 60%;">Users</button> -->
	<!-- <button mat-button style="margin-left: 4.18%; margin-top: 6.12%; font-size: 12px; color: #292E35;opacity: 60%;">Administration</button> -->
	<button mat-flat-button (click)=logout.logout() style="margin-left: 40%; margin-top: 2%; font-size: 12px; color: #292E35; border-color: #6957E1; color: #6957E1;">Log Out   <img style="width: 25%;height: 25%;" src="/assets/Assets/LogOut.svg"></button>
	<div style="white-space: pre-wrap; margin-top: 1.25%; margin-left: 15%; font-size: 30px; color: #727272; font-weight: bolder;"><b>Artefact details</b></div>
	<form #f="ngForm" (ngSubmit)="createUpdate(f.valid)">
		<div class="form-group" style="margin-left: 20%; margin-top: 2%;">
			<label class="inline-label" style="color: #14ABDD; font-weight: bold;" for="project_id">Project ID: {{projId}}</label>
			<!-- <input required ngModel [(ngModel)]="projectInfo.proj.project_id" type="project_id" class="form-control" name="project_id" placeholder="{{projectInfo.proj.project_id}}"> -->
		</div>
		<div class="form-group" style="margin-left: 30%; margin-top: 2%;">
			<label class="inline-label" style="color: #6F6FFF; font-weight: bold;" for="company_id">Company ID: {{companyId}}</label>
			<!-- <input required ngModel [(ngModel)]="projectInfo.proj.customer_id" type="customer_id" class="form-control" name="customer_id" placeholder="{{projectInfo.proj.customer_id}}"> -->
		</div>
		<div class="form-group" style="margin-left: 40%; margin-top: 2%;">
			<label class="inline-label" style="color: green; font-weight: bold;" for="artefact_id">Artefact ID: {{artefactId}}</label>
			<!-- <input required ngModel [(ngModel)]="projectInfo.proj.customer_id" type="customer_id" class="form-control" name="customer_id" placeholder="{{projectInfo.proj.customer_id}}"> -->
		</div>
		<div class="split left" style="margin-left: 20%; margin-right: 20%;margin-top: 15%;font-size: 12px;">
            <div class="form-group">
				<label class="inline-label" for="artefact_type">Artefact type</label>
				<input (change)="isDirty=true" style="font-size: 10px;" required ngModel [(ngModel)]="artefactInfo.art.artefact_type" type="artefact_type" class="form-control" name="artefact_type" placeholder="{{artefactInfo.art.artefact_type}}">
			</div>
			<div class="form-group">
				<label class="inline-label" for="owner">owner</label>
				<select style="font-size: 10px;" [(ngModel)]="artefactInfo.art.artefact_owner" type="owner" class="form-control" name="owner">
					<!-- <option selected>{{projectInfo.proj.owner}}</option> -->
					<ng-container *ngFor="let admin of admins">
						<option [value]="admin.name">{{admin['name']}}</option>
					</ng-container>
				</select>
			</div>
            <div class="form-group">
				<label class="inline-label" for="artefact_name">Artefact name</label>
				<input (change)="isDirty=true" style="font-size: 10px;" required ngModel [(ngModel)]="artefactInfo.art.artefact_name" type="artefact_name" class="form-control" name="artefact_name" placeholder="{{artefactInfo.art.artefact_name}}">
			</div>
            <div class="form-group">
				<label class="inline-label" for="description">Description</label>
				<input (change)="isDirty=true" style="font-size: 10px;" required ngModel [(ngModel)]="artefactInfo.art.description" type="description" class="form-control" name="description" placeholder="{{artefactInfo.art.description}}">
			</div>
            <div class="form-group">
				<label class="inline-label" for="status">status</label>
				<input (change)="isDirty=true" style="font-size: 10px;" required ngModel [(ngModel)]="artefactInfo.art.status" type="status" class="form-control" name="status" placeholder="{{artefactInfo.art.status}}">
			</div>
		</div>
		<div class="split right" style="margin-left: 20%; margin-right: 20%;margin-top: 15%;font-size: 12px;">
            <div class="form-group">
				<label class="inline-label" for="template">template</label>
				<select style="font-size: 10px;" [(ngModel)]="artefactInfo.art.template" type="template" class="form-control" name="template">
					<option hidden selected>{{artefactInfo.art.template}}</option>
					<option value="Y">Y</option>
					<option value="N">N</option>
				</select>
			</div>
            <div class="form-group">
				<label class="inline-label" for="created_date">create date</label>
				<input (change)="isDirty=true" style="font-size: 10px;" required ngModel [(ngModel)]="artefactInfo.art.create_date" type="date" class="form-control" name="created_date" placeholder="{{artefactInfo.art.create_date}}">
			</div>
            <div class="form-group">
				<label class="inline-label" for="updated_date">Update date</label>
				<input (change)="isDirty=true" style="font-size: 10px;" required ngModel [(ngModel)]="artefactInfo.art.update_date" type="date" class="form-control" name="updated_date" placeholder="{{artefactInfo.art.update_date}}">
			</div>
            <div class="form-group">
				<label class="inline-label" for="location_url">Location url</label>
				<input (change)="isDirty=true" style="font-size: 10px;" required ngModel [(ngModel)]="artefactInfo.art.location_url" type="location_url" class="form-control" name="location_url" placeholder="{{artefactInfo.art.location_url}}">
			</div>
            <div class="form-group">
				<label class="inline-label" for="template_url">Template url</label>
				<input (change)="isDirty=true" style="font-size: 10px;" required ngModel [(ngModel)]="artefactInfo.art.template_url" type="template_url" class="form-control" name="template_url" placeholder="{{artefactInfo.art.template_url}}">
			</div>
		</div>
		<div class="form-group">
			<!-- <ng-template> -->
			<button type="submit"><img style="position: absolute; margin-top: 20%; width: 10%;height: 10%;" class="button" src="/assets/Assets/CreateUpdate.svg"></button>
			<!-- <button *ngIf="!f.valid" (click)=inValidForm()><img style="position: absolute; margin-top: 20%; width: 10%;height: 10%;" class="button" src="/assets/Assets/CreateUpdate.svg"></button> -->
				<!-- </ng-template> -->
			<!-- <ng-template *ngIf="f.valid" >
				<button type="submit" ><img style="position: absolute; margin-top: 20%; width: 10%;height: 10%;" class="button" src="/assets/Assets/CreateUpdate.svg"></button>
			</ng-template> -->
			<button mat-button style="position: absolute; margin-left: 3%; margin-top: 27%; font-size: 12px; color: #292E35;opacity: 100%;" (click)=back() type="button">Cancel</button>
		</div>
		<!-- <button mat-button style="position: absolute; margin-left: 47%; margin-top: 30%; font-size: 12px; color: #292E35;opacity: 100%;" (click)=back() type="button">Cancel</button> -->
        <!-- <div class="split right" style="background-color: white; margin-top: 10px;">
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" style="width: 30%;" [disabled]="!f.valid">Create/Update</button>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary btn-lg btn-block" style="width: 30%;" (click)=back() type="button">Cancel</button>
            </div>
        </div> -->
	</form>
</body>
</html>