<!DOCTYPE html>
<html lang="en">
<body style="background-color: #F9F9F9;">
    <img src="/assets/rpmLogo.png" height="11.8%" width="6%" style="margin-left: 5.74%; margin-top: 1.4%;">
    <button mat-button style="width: 3.67%; height: 3.46%; margin-left: 17.36%; margin-top: 3.45%; font-size: 20px; color: #292E35; opacity: 100%;">About</button>
    <button mat-button style="width: 120px; height: 37.37px; margin-left: 7.45%; margin-top: 3.45%; font-size: 20px; color: #292E35;opacity: 60%;">Price List</button>
    <button mat-button style="width: 124.56px; height: 37.37px; margin-left: 7.45%; margin-top: 3.45%; font-size: 20px; color: #292E35;opacity: 60%;">contact us</button>
    <button mat-flat-button style="width: 124.56px; height: 37.37px; margin-left: 48.69%; margin-top: 3.45%; font-size: 20px; color: #292E35;opacity: 60%;">contact us</button>
</body>
</html>